@import "_oa";

@include font-face("icomoon", font-files("site/fonts/icomoon.eot", "site/fonts/icomoon.woff", "site/fonts/icomoon.ttf", "site/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-6:before {
  content: "\e904";
  color: #e95513;
}
.icon-7:before {
  content: "\e905";
  color: #e95513;
}
.icon-8:before {
  content: "\e906";
  color: #e95513;
}
.icon-5:before {
  content: "\e903";
}
.icon-4:before {
  content: "\e901";
}
.icon-3:before {
  content: "\e902";
}
.icon-1:before {
  content: "\e900";
}
.icon-2:before {
  content: "\e986";
}