@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?18a3uo');
  src:  url('fonts/icomoon.eot?18a3uo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?18a3uo') format('truetype'),
    url('fonts/icomoon.woff?18a3uo') format('woff'),
    url('fonts/icomoon.svg?18a3uo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e901";
}
.icon-key:before {
  content: "\e903";
}
.icon-close:before {
  content: "\f00d";
}
.icon-check:before {
  content: "\e902";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-github:before {
  content: "\eab0";
}
