@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?71ze28');
  src:  url('fonts/icomoon.eot?71ze28#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?71ze28') format('truetype'),
    url('fonts/icomoon.woff?71ze28') format('woff'),
    url('fonts/icomoon.svg?71ze28#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-6:before {
  content: "\e904";
  color: #e95513;
}
.icon-7:before {
  content: "\e905";
  color: #e95513;
}
.icon-8:before {
  content: "\e906";
  color: #e95513;
}
.icon-5:before {
  content: "\e903";
}
.icon-4:before {
  content: "\e901";
}
.icon-3:before {
  content: "\e902";
}
.icon-1:before {
  content: "\e900";
}
.icon-2:before {
  content: "\e986";
}
